<% if (typeof userCartDetails!='undefined') {%>
<div
  class="card shopping-cart"
  style="margin-top: 100px; margin-bottom: 100px;"
>
  <div class="card-header bg-dark text-light">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    Shipping cart

    <div class="clearfix"></div>
  </div>
  <div class="card-body">
    <% userCartDetails.forEach(function(item){ %>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-2 text-center">
        <img
          class="img-responsive"
          src="<%= item.image_url %>"
          alt="prewiew"
          width="120"
          height="80"
        />
      </div>
      <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
        <h4 class="product-name"><strong><%= item.title %></strong></h4>
        <h4>
          <small><%= item.description %></small>
        </h4>
      </div>
      <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
        <div
          class="col-3 col-sm-3 col-md-6 text-md-right"
          style="padding-top: 5px;"
        >
          <h6>
            <strong
              >$<%= item.price_per_item %>
              <span class="text-muted">x</span></strong
            >
            <strong><%= item.quantity %></strong>
          </h6>         
        </div>

        <div class="col-2 col-sm-2 col-md-2 text-right">
          <form action="/book/deleteBookOrder" method="POST">
            <input type="hidden" name="book_id" value="<%= item.book_id %>" />
            <button type="submit" class="btn btn-outline-danger btn-xs">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
    <hr />
    <% }) %>
  </div>

  <div class="card-footer">
    <div class="pull-right" style="margin: 10px;">
      <a href="/book/thank-you" class="btn btn-success pull-right">Checkout</a>
      <span style="float: right;">Total price: <b>$<%= totalPrice %></b></span>
    </div>
  </div>
</div>
<% } %> <% if (typeof userCartDetails=='undefined') {%>
<div class="card text-center" style="margin-top: 100px; margin-bottom: 100px;">
  <div class="card-header">
    Cart Items
  </div>
  <div class="card-body">
    <h5 class="card-title">No Items added in your shopping cart right now!</h5>
    <p class="card-text">
      If you want to have shopping now please click on below link:
    </p>
    <a href="/book/products" class="btn btn-primary">Go To Products</a>
  </div>
</div>
<% } %>
